
<div ng-if="newShipment.message">
  <div class="{{ 'alert alert-dismissible alert-' + newShipment.message.type}}" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ newShipment.message.content }}
  </div>
</div>

<span ng-if="!newShipment.message">
  <h2>New shipment</h2>
  <form novalidate name="createShipment" ng-submit="newShipment.process()">
    <div class="form-group">
      <label for="poNumber">PO Number</label>
      <input type="text" class="form-control" ng-model="newShipment.shipment.po" id="poNumber" placeholder="PO Number" name="poNumber" required ng-pattern="/^(\d)+$/">
      <div class="error-container" ng-show="createShipment.poNumber.$dirty && createShipment.poNumber.$invalid">
        <small class="error" ng-show="createShipment.poNumber.$error.required">
          PO number is required.
        </small>
        <small class="error" ng-show="createShipment.poNumber.$error.pattern">
          Enter only numbers
        </small>
      </div>
    </div>
    <div class="form-group">
      <label for="company">Company</label>
      <input type="text" class="form-control" ng-model="newShipment.shipment.company" id="company" placeholder="Company" name="company" required>
      <div class="error-container" ng-show="createShipment.company.$dirty && createShipment.company.$invalid">
        <small class="error" ng-show="createShipment.company.$error.required">
          Company is required.
        </small>
      </div>
    </div> 
    <div class="form-group">
      <label for="datestart">Delivery date start:</label>
      {{newShipment.shipment.startDate._d | date:'MM-dd HH:mm'}}
    </div>

      <div class="form-group">
        <label for="category">Category:</label>
        <span class="label label-{{ newShipment.shipment.category == 'shipping' ? 'warning' : 'success'}}">{{ newShipment.shipment.category }}</span>
        <div class="error-container" ng-show="createShipment.estimatedTime.$dirty && createShipment.estimatedTime.$invalid">
          <small class="error" ng-show="createShipment.estimatedTime.$error.required">
            Company is required.
          </small>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" ng-disabled="createShipment.$invalid">Submit</button>
  </form>
</span>