<div style="height:50px">
	<div class="btn-group pull-left">
		<button class="btn btn-danger" ng-click="changeView('myCalendar', 'agendaDay')">Day</button>
		<button class="btn btn-danger" ng-click="changeView('myCalendar', 'agendaWeek')">Week</button>
		<button class="btn btn-danger" ng-click="changeView('myCalendar', 'month')">Month</button>
	</div>
	<div class="btn-row pull-right">    
    <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-default active" ng-click="activeShipment='shipping'">
            <input type="radio" name="activeShipment" id="option1"> Shipping
        </label>
        <label class="btn btn-default" ng-click="activeShipment='receiving'">
            <input type="radio" name="activeShipment" id="option2"> Receiving
        </label>
    </div>
	 </div>
 </div>

<div id="calendar" calendar="myCalendar" class="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources">
</div>
