<section id="main-content">
  <section class="wrapper">
      <!-- page start-->
      <div class="row">
          <aside class="col-lg-12">
              <section class="panel">
                  <div class="panel-body">
                      <div class="row">
                          <div class="col-md-4">
                              <a class="btn btn-primary" ng-mousedown="csv.generate()" ng-href="{{ csv.link() }}" download="report.csv">Export to CSV</a>
                          </div>
                          <div align="center" class="col-md-4">
                              <div class="right-inner-addon" id="rangepick">
                                  <i class="icon-calendar"></i>
                                  <input date-range-picker placeholder="Choose date range" class="form-control date-picker" type="text" ng-model="date_range"/>
                              </div>
                          </div>
                          <div class="col-md-4">
                              <button ng-click="statistics.tableParams.sorting({})" class="btn btn-default pull-right">Clear sorting</button>
                              <button ng-click="statistics.clearFilters()" class="btn btn-default pull-right" style="margin-right: 10px;">Clear filter</button>
                          </div>
                      </div>
                        <table ng-table="statistics.tableParams" show-filter="true" class="table table-striped table-advance" export-csv="csv">
                                <tr ng-repeat="shipment in statistics.shipments">
                                    <td data-title="'User'" sortable="'user'" filter="{ 'user': 'text' }"> {{ shipment.user }}</td>
                                    <td data-title="'Company'" sortable="'company'" filter="{ 'company': 'text' }">{{shipment.company}}</td>
                                    <td data-title="'Po'" sortable="'po'" filter="{ 'po': 'text' }">{{shipment.po}}</td>
                                    <td data-title="'Time Start'" sortable="'start_date'" >{{shipment.start_date | date : 'short'}}</td>
                                    <td data-title="'Time End'" sortable="'end_date'">{{shipment.end_date | date : 'short'}}</td>
                                    <td data-title="'Category'" sortable="'category'" filter="{ 'category': 'text' }">{{shipment.category}}</td>
                                </tr>
                        </table>
                  </div>
              </section>
          </aside>
      </div>
      <!-- page end-->
  </section>
</section>

<div>
</div>
