<div class="container">
  <div class="col-md-4 col-md-offset-4">
    <div class="ui-view"></div>
    <div class="links">
      <div ng-hide="$state.includes('application.auth.sign_in')">
        <a ui-sref="application.auth.sign_in"> Sign in </a>
        <br />
      </div>
      <div ng-hide="$state.includes('application.auth.sign_up')">
        <a ui-sref="application.auth.sign_up"> Create new account </a>
        <br />
      </div>
      <div ng-hide="$state.includes('application.auth.forgot_pass')">
        <a ui-sref="application.auth.forgot_pass"> Forgot password </a>
      </div>
    </div>
  </div>
</div>