<form class="form-signin" novalidate ng-submit="forgot.resetPass(forgotPass.$valid)" name="signIn">
  <h2 class="form-signin-heading">Forgot password</h2>
  <div class="login-wrap">
      <auth-error></auth-error>
      
      <div class="form-group">
        <label for="email"> Email: </label>
        <input type="email" name="email" ng-model="forgot.credentials.email" required class="form-control">
        <div class="error-container" ng-show="forgotPass.email.$dirty && forgotPass.email.$invalid">
          <small class="error" ng-show="forgotPass.email.$error.required">
            Your email is required.
          </small>
          <small class="error" ng-show="forgotPass.email.$error.email">
            That is not a valid email. Please input a valid email.
          </small>
        </div>

      </div>
    </div>
    <button class="btn btn-lg btn-login btn-block" ng-submit="forgot.resetPass(forgotPass.$valid)">Restore</button>
  </div>

</form>