<h3> Sign up: </h3>
<auth-error></auth-error>
<form novalidate ng-submit="reg.signUp(signUp.$valid)" name="signUp">
  <div class="form-group">
    <label for="email"> Email: </label>
    <input type="email" ng-model="reg.credentials.email" name="email" class="form-control" required />
    <div class="error-container" 
         ng-show="signUp.email.$dirty && signUp.email.$invalid">
      <small class="error" 
             ng-show="signUp.email.$error.required">
             Your email is required.
      </small>
      <small class="error" 
             ng-show="signUp.email.$error.minlength">
              Your email is required to be at least 3 characters
      </small>
      <small class="error" 
             ng-show="signUp.email.$error.email">
             That is not a valid email. Please input a valid email.
      </small>
      <small class="error" 
             ng-show="signUp.email.$error.maxlength">
              Your email cannot be longer than 20 characters
      </small>
    </div>
  </div>
  <div class="form-group">
    <label for="password"> Password: </label>
    <input type="password" name="password" id="password" ng-model="reg.credentials.password" class="form-control" ng-minlength="8" required />
    <div class="error-container" ng-show="signUp.password.$dirty && signUp.password.$invalid">
      <small class="error" ng-show="signUp.password.$error.required">
        Your password is required.
      </small>
      <small class="error" ng-show="signUp.password.$error.minlength">
        Your password is required to be at least 8 characters.
      </small>
    </div>
  </div>
  <div class="form-group">
    <label for="password_confirmation"> Password confirmation: </label>
    <input type="password" name="password_confirmation" id="password_confirmation" ng-model="reg.credentials.password_confirmation" class="form-control" pw-check="password" required />
    <div class="error-container" ng-show="signUp.password_confirmation.$dirty && signUp.password_confirmation.$invalid">
      <small class="error" ng-show="signUp.password_confirmation.$error.required">
        Your password confirmation is required.
      </small>
      <small class="error" ng-show="signUp.password_confirmation.$error.pwmatch">
        Your password confirmation must match your password.
      </small>
    </div>
  </div>
  <div class="form-group">
    <label for="first_name"> First name: </label>
    <input type="first_name" name="first_name" id="first_name" ng-model="reg.credentials.first_name" class="form-control" ng-minlength=3 ng-maxlength=20 required />
    <div class="error-container" 
        ng-show="signUp.first_name.$dirty && signUp.first_name.$invalid">
      <small class="error" 
          ng-show="signUp.first_name.$error.required">
          Your name is required.
      </small>
      <small class="error" 
              ng-show="signUp.first_name.$error.minlength">
              Your name is required to be at least 3 characters
      </small>
      <small class="error" 
              ng-show="signUp.first_name.$error.maxlength">
              Your name cannot be longer than 20 characters
      </small>
    </div>
  </div>
  <div class="form-group">
    <label for="last_name"> Last name: </label>
    <input type="last_name" name="last_name" id="last_name" ng-model="reg.credentials.last_name" class="form-control" ng-minlength=3 ng-maxlength=20 required />
    <div class="error-container" 
        ng-show="signUp.last_name.$dirty && signUp.last_name.$invalid">
      <small class="error" 
          ng-show="signUp.last_name.$error.required">
          Your name is required.
      </small>
      <small class="error" 
              ng-show="signUp.last_name.$error.minlength">
              Your name is required to be at least 3 characters
      </small>
      <small class="error" 
              ng-show="signUp.last_name.$error.maxlength">
              Your name cannot be longer than 20 characters
      </small>
    </div>
  </div>
  <div class="form-group">
    <label for="phone_number"> Phone number: </label>
    <input type="phone_number" name="phone_number" id="phone_number" ng-model="reg.credentials.phone_number" class="form-control" required />
    <div class="error-container" ng-show="signUp.phone_number.$dirty && signUp.phone_number.$invalid">
      <small class="error" ng-show="signUp.phone_number.$error.required">
        Your phone number is required.
      </small>
    </div>
  </div>

  <button type="submit" class="btn btn-primary btn-lg" ng-disabled="signUp.$invalid">Sign up</button>
</form>