
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">{{formShipment.formTitle}}</h4>
            </div>
            <div class="modal-body">

              <form novalidate name="shipmentForm" ng-submit="formShipment.process()">
                <div class="form-group">
                  <label for="poNumber">PO Number</label>
                  <input type="text" class="form-control" ng-model="formShipment.shipment.po" id="poNumber" placeholder="PO Number" name="poNumber" required ng-pattern="/^(\d)+$/">
                  <div class="error-container" ng-show="shipmentForm.poNumber.$dirty && shipmentForm.poNumber.$invalid">
                    <small class="error" ng-show="shipmentForm.poNumber.$error.required">
                      PO number is required.
                    </small>
                    <small class="error" ng-show="shipmentForm.poNumber.$error.pattern">
                      Enter only numbers
                    </small>
                  </div>
                </div>
                <div class="form-group">
                  <label for="company">Company</label>
                  <input type="text" class="form-control" ng-model="formShipment.shipment.company" id="company" placeholder="Company" name="company" required>
                  <div class="error-container" ng-show="shipmentForm.company.$dirty && shipmentForm.company.$invalid">
                    <small class="error" ng-show="shipmentForm.company.$error.required">
                      Company is required.
                    </small>
                  </div>
                </div> 
                <div class="form-group">
                  <label for="datestart">Delivery date start</label>
                    <div class="dropdown" >
                      <a class="dropdown-toggle my-toggle-select" role="button" data-toggle="dropdown" data-target="#" href="">
                        <div class="input-append">
                          <input type="text" class="form-control" ng-model="formShipment.shipment.startDate" data-date-time-input="MMMM Do YYYY HH:mm" >
                        </div>
                      </a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                          <datetimepicker data-ng-model="formShipment.shipment.startDate"
                                          data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select' }" ></datetimepicker>
                      </ul>
                    </div> 
                </div>
                <div class="form-group">
                  <label for="carrier"> Carrier: </label>
                  {{ formShipment.shipment.user }}
                </div>
                <div class="form-group">
                  <label for="status">Status: </label>
                  {{ formShipment.shipment.status }}
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary" ng-disabled="shipmentForm.$invalid">Submit</button>
                  <button type="button" ng-show="formShipment.showDeleteButton" class="btn btn-danger" ng-click="formShipment.deleteShipment()">Delete</button>
                </div>              
              </form>
            </div>
          </div>
    </div>
</div>