<div style="height:50px">
  <div class="btn-group pull-left">
    <button class="btn btn-danger" ng-click="changeView('shippingCal', 'agendaDay')">AgendaDay</button>
    <button class="btn btn-danger" ng-click="changeView('shippingCal', 'agendaWeek')">AgendaWeek</button>
    <button class="btn btn-danger" ng-click="changeView('shippingCal', 'month')">Month</button>
  </div>
 </div>

<div id="calendar" calendar="shippingCal" class="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources">
</div>
