<aside class="col-lg-6">
    <section class="panel">
        <div class="panel-body">
            <div class="admin-shipping">
                <h4 class="admin-calendar-title">shipping</h4>
                <div style="height:50px">
                    <div class="btn-group pull-left">
                        <button class="btn btn-danger" ng-click="changeView('shippingCal', 'agendaDay')">AgendaDay</button>
                        <button class="btn btn-danger" ng-click="changeView('shippingCal', 'agendaWeek')">AgendaWeek</button>
                        <button class="btn btn-danger" ng-click="changeView('shippingCal', 'month')">Month</button>
                    </div>
                    <div class="pull-right">
                        <select ng-model="shippingUser" ng-options="option as option for option in shippingUsers">
                        </select>
                    </div>
                </div>

                <div id="calendar" calendar="shippingCal" class="calendar shipping-calendar" ui-calendar="uiConfig.calendar" ng-model="adminShipmentSources">
                </div>
                <span us-spinner spinner-key="shipping"></span>
            </div>
        </div>
    </section>
</aside>

<aside class="col-lg-6">
    <section class="panel">
        <div class="panel-body">
            <h4 class="admin-calendar-title">receiving</h4>
            <div style="height:50px">
                <div class="btn-group pull-left">
                    <button class="btn btn-danger" ng-click="changeView('receivingCal', 'agendaDay')">AgendaDay</button>
                    <button class="btn btn-danger" ng-click="changeView('receivingCal', 'agendaWeek')">AgendaWeek</button>
                    <button class="btn btn-danger" ng-click="changeView('receivingCal', 'month')">Month</button>
                </div>
                <div class="pull-right">
                    <select ng-model="receivingUser" ng-options="option as option for option in shippingUsers">
                    </select>
                </div>
            </div>

            <div id="calendar" calendar="receivingCal" class="calendar receiving-calendar" ui-calendar="uiConfig.calendar" ng-model="adminReceivingSources">
            </div>
            <span us-spinner spinner-key="receiving"></span>
            <!-- <div ui-view="adminReceiving"></div> -->
        </div>
    </section>
</aside>
<div ui-view></div>
