<aside class="col-lg-6">
    <section class="panel">
        <div class="panel-body">
            <h4 class="admin-calendar-title">shipping</h4>
            <div class="admin-shipping">
                <div class="row top-section-calendar">
                    <div class="col-md-7 align-center">
                        <div class="btn-group pull-left">
                            <button class="btn btn-danger" ng-click="changeView('shippingCal', 'agendaDay')">Day</button>
                            <button class="btn btn-danger" ng-click="changeView('shippingCal', 'agendaWeek')">Week</button>
                            <button class="btn btn-danger" ng-click="changeView('shippingCal', 'month')">Month</button>
                        </div>
                    </div>
                    <div class="col-md-5 align-center">
                        <select ng-model="shippingUser" ng-options="option as option for option in shippingUsers" class="form-control">
                            <option value="" disabled selected>Select carrier</option>
                        </select>
                    </div>
                </div>

                <div id="calendar" calendar="shippingCal" class="calendar shipping-calendar" ui-calendar="uiConfig.calendar" ng-model="adminShipmentSources">
                </div>
                <span us-spinner spinner-key="shipping"></span>
            </div>
        </div>
    </section>
</aside>

<aside class="col-lg-6">
    <section class="panel">
        <div class="panel-body">
            <h4 class="admin-calendar-title">receiving</h4>
            <div class="admin-receiving">
                <div class="row top-section-calendar">
                    <div class="col-md-7 align-center">
                        <div class="btn-group pull-left">
                            <button class="btn btn-danger" ng-click="changeView('receivingCal', 'agendaDay')">Day</button>
                            <button class="btn btn-danger" ng-click="changeView('receivingCal', 'agendaWeek')">Week</button>
                            <button class="btn btn-danger" ng-click="changeView('receivingCal', 'month')">Month</button>
                        </div>
                    </div>
                    <div class="col-md-5 align-center">
                        <select ng-model="receivingUser" ng-options="option as option for option in shippingUsers" class="form-control">
                            <option value="" disabled selected>Select carrier</option>
                        </select>
                    </div>
                </div>
            </div>
            <div id="calendar" calendar="receivingCal" class="calendar receiving-calendar" ui-calendar="uiConfig.calendar" ng-model="adminReceivingSources">
            </div>
            <span us-spinner spinner-key="receiving"></span>
            <!-- <div ui-view="adminReceiving"></div> -->
        </div>
    </section>
</aside>
<div ui-view></div>
