/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min.css
 *= require bootstrap/bootstrap-reset.css
 *= require font-awesome/css/font-awesome.min.css
 *= require angular-bootstrap-datetimepicker/src/css/datetimepicker.css
 *= require intl-tel-input/build/css/intlTelInput.css.scss
 *= require fullcalendar/fullcalendar.css
 *= require bootstrap-daterangepicker/daterangepicker-bs3.css
 *= require_tree .
 *= require_self
 */
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
@import "font-awesome";

* {
  margin: 0;
}
html{
   position: relative;
   min-height: 100%;
}

body {
  margin: 0 0 100px;
  padding: 25px;
  background-color: #f1f2f7;
}

.container {
  height: auto !important;
  margin: 0 auto -70px; /* the bottom margin is the negative value of the footer's height */
}

.site-footer {
  font-family: RobotoDraft, Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow:hidden;
  z-index: 200;
  p {
    text-align: center;
  }
}

.links {
  margin-top: 10px;
}

.error-container .error {
  color: red;
}

.system-message {
  width: 20%;
  float: right;
  margin-top: 100px;
}

.intl-tel-input {
  display: block !important;
}

.calendar-container {
  margin-bottom: 200px;
}

.fc-event-container {
  cursor: pointer;
}

#rangepick{
  width: 230px;
  margin: 0 10px;
}

#container {
  background-color: #f1f2f7;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}
.sign-up-wrapper {
  padding-bottom: 100px;
}